@use "../../../assets/variables" as v;

.navbar {
  background-color: v.$color1;
  font-size: 18px;
  height: 80px;
  border-bottom: 0.1px solid v.$color3_1;
  margin-bottom: 20px;

  .navbar-brand {
    font-weight: 600;
    background-color: v.$color2;
    padding: 10px 20px 8px 20px;
    border-radius: 4px;
    color: v.$color1;

    span {
      font-weight: 600;
    }

    &:hover {
      background-color: v.$color2;
    }
  }
  .links .nav-link {
    padding-right: 2px;
    color: v.$color3;

    &:hover {
      color: v.$color2;
    }
  }

  .me-2 {
    margin-right: 2rem; /* 2rem sağ boşluk ekleyin (isteğe bağlı) */
  }

  .form-control {
    width: 600px; /* Arama kutusunun genişliği 400px olarak ayarlandı */
  }
  .button {
    background-color: v.$color2;
    color: v.$color1;
    border: none;

    &:hover {
      background-color: v.$color1_1;
    }
  }
}
.search-container {
  position: relative;
}

.search-icon {
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-results {
  padding: 22px;
}
.no-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 460px; /* Yükseklik ve genişlik istediğiniz boyutlara ayarlanabilir */
  // width: 307px;
  background-color: green; /* No Image alanının arka plan rengi */
  color: #666; /* Metin rengi */
  font-size: 18px; /* Metin boyutu */
  border: 1px dashed #ccc; /* Kenarlık */
  border-radius: 4px; /* Köşe yuvarlama */
}
