@use "../../../assets/variables" as v;

.navbar {
  background-color: v.$color1;
  font-size: 18px;
  height: 80px;
  border-bottom: 0.1px solid v.$color3_1;
  margin-bottom: 20px;

  .navbar-brand {
    font-weight: 600;
    background-color: v.$color2;
    padding: 10px 20px 8px 20px;
    border-radius: 4px;
    color: v.$color1;

    span {
      font-weight: 600;
    }

    &:hover {
      background-color: v.$color2;
    }
  }

  .main-login {
    background-color: v.$color3;
    font-weight: 600;
    padding: 0 5px;
    border-radius: 4px;


    &:hover {
      background-color: v.$color2;
    }
  }
  .links .nav-link {
    padding-right: 2px;
    color: v.$color3;

    &:hover {
      color: v.$color2;
    }
  }

  .me-2 {
    margin-right: 2rem;
  }

  .form-control {
    width: 600px; /* Arama kutusunun genişliği 400px olarak ayarlandı */
  }
  .button {
    background-color: v.$color2;
    color: v.$color1;
    border: none;

    &:hover {
      background-color: v.$color1_1;
    }
  }
}

.search-results {
  padding: 22px;
}
.no-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 460px;
  background-color: green;
  color: #666;
  font-size: 18px;
  border: 1px dashed #ccc;
  border-radius: 4px;
}
