@use "../../assets/variables" as v;


.pagination {
    padding-bottom: 20px;
    
}

.page-link {
    border-radius: 4px;
    color: v.$color1; 
    border: none;
    padding: 5px 12px;

    &:hover {
        background-color: v.$color2;
    }


}

.active>.page-link, .page-link.active {
    background-color: v.$color2;
    border: none !important;

}

.pagination span {
    border: none;
    border-radius: 5px;
    padding: 5px 12px;
    border-radius: 4px;

}