@use "../../assets/variables" as v;


.header {
    display: flex;
    justify-content: space-between;

    .header-title {
      padding-top: 20px;
      color: white;
      font-size: 20px;
      margin-bottom: 12px;
      padding-left: 28px;
      padding-bottom: 2px;

      &::before {
        background: #f5c518;
        border-radius: 2px;
        margin-right: 10px;
        content: "";
        margin-left: -0.75rem;
        align-self: flex-start;
        position: absolute;
        height: 2%;
        width: 3px;
        margin-top: 2px;
      }
    }
    .tvseries-arrow svg {
      color: v.$color2; 
      font-size: 26px;
      margin-top: 22px;
    }
  }
