// COLOR PALETTES


//COLOR 1

$color1: #1f2232;
$color1_1: #282b40;
$color1_3: #494748;
// $color2: #f15111;

$color2: #ffc800;

$color3: #ffffff;
$color3_1: #525a84;



//COLOR 4
$color4:#01FFF0;
$color4_2: #00756E;

//COLOR 5
$color5: #1D3557;

//COLOR 6
$color6:#E63946;

//COLOR 7
$color7: #000000;


//BOOTSTRAP
$primary:       $color1;
$secondary:     $color2;
$success:       $color3;
$info:          $color4;

$link-color: #EDEDED;













