@use "../../assets/variables" as v;


.list-container {
  display: flex;
  align-items: center;
  text-align: start;
  border: 0.1px solid v.$color3_1;
  margin-bottom: 6px;

  .list-poster {
    width: 100px;
    height: auto;
  }

  .list-title {
    padding-left: 22px;
    color: v.$color3;

  }

  .list-release-date {
    color: v.$color3;
    text-align: center;

  }

  .list-average {
    color: v.$color2;
    white-space: nowrap !important;
    text-align: end;
    padding-right: 26px;


    svg {
      padding-bottom: 2px;
      padding-right: 2px;
    }
  }

}

.button-view {
    border: none;
    margin-left: 4px;
    font-size: 24px;
    color: v.$color3;
    background-color: v.$color1;
    padding-top: 20px;
    color: white;
    margin-bottom: 12px;
    padding-bottom: 2px;

    &:hover {
    color: v.$color2;

    }
}
